.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
}
.form__input {
  height: 60px;
  width: 100%;
  border: 0;
  padding: 0 12px;
  box-sizing: border-box;
  border-color: #838383;
  border-width: 1px;
  max-width: 385px;
  border-radius: 4px;
  margin: 8px 0 32px 0;
  display: flex;
  border-style: solid;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  background-image: url(../images/check.svg);
  background-color: #2f80ed;
  border-radius: 2px;
  margin: 0 12px 0 0;
  height: 20px;
  width: 20px;
}
.form__label_type_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.form__button {
  background-color: #2f80ed;
  border-radius: 4px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  width: 385px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.form__button:hover {
  opacity: 0.7;
}
