.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
}
.recipes__title {
  max-width: 580px;
  margin: 100px 0 24px 80px;
}
.recipes__title-header {
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0;
}
.recipes__subtitle {
  margin: 0 0 0 80px;
  max-width: 438px;
}
.recipes__subtitle-text {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 215px 0;
  flex-direction: column;
}
.recipes__iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 24px;
}
.recipes__iframe-video {
  height: 273px;
  width: 480px;
}
.recipes__video-caption {
  display: flex;
}
.recipes__video-caption-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
