.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__title-header {
  display: flex;
  justify-content: center;
  margin: 100px 0 80px 0;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
input {
  max-width: 385px;
  border-radius: 4px;
  margin: 8px 0 32px 0;
  display: flex;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
}
.form__input {
  height: 60px;
  width: 100%;
  border: 0;
  padding: 0 12px;
  box-sizing: border-box;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label:not(:last-child) {
  margin-bottom: 32px;
}
.form__checkbox {
  background-image: url(../images/check.svg);
  background-color: #2f80ed;
  border-radius: 2px;
  margin-right: 12px;
}
.form__label-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}
.form__button {
  background-color: #2f80ed;
  border-radius: 2px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  line-height: 20px;
}
button {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.form__button:hover {
  opacity: 0.7;
}
